<!--
   <ion-range [(ngModel)]="britness">
      <ion-icon range-left small name="sunny">basico</ion-icon>
      <ion-icon range-right  name="sunny">avançado</ion-icon>
    </ion-range>

<ion-list>
  <ion-list-header>
    Idiomas
  </ion-list-header>
  <ion-item>
   <p>Ingles: avançado</p>
  </ion-item>
  <ion-item>
   <p>Frances: basico</p>
  </ion-item>
  <ion-item>
   <p>Espanhol: basico</p>
  </ion-item>
</ion-list>
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Àrea do Usuário</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-grid class="grid">
      <ion-avatar item-start align="center">
        <div align="center" class="profile-image" (click)="editimage()">
          <img src="{{avatar}}">
        </div>
      </ion-avatar>
    </ion-grid>
    <ion-item>

      <h1 align="center">{{(profileData | async)?.firstName}} {{(profileData | async)?.lastNme}}</h1>

      <p align="center">Inglês fluente, Português nativo.</p>

      <p (click)="editname()" align="center">{{displayName}} </p>

    </ion-item>



    <ion-card-content class="card-background-page">

      <p color="grey">INTERESSES</p>
      <ion-item *ngFor="let item of allmytags">

        <button ion-button class="button">{{item.tagName}}</button>
      </ion-item>
      <ion-icon name="add-circle" class="iconeadd" (click)="addTag()"></ion-icon>

      <p>GRUPOS</p>
      <ion-item *ngFor="let item of allmygroups">

        <button ion-button class="button" (click)="openchat(item)">{{item.groupName}}</button>
      </ion-item>
      <ion-icon name="add-circle" class="iconeadd" (click)="addgroup()"></ion-icon>
      <div>
        <button ion-button round outline color="danger" (click)="logout()">Logout</button>
      </div>
    </ion-card-content>


  </ion-card>

</ion-content>