<ion-header>
  <ion-navbar>
    <ion-title>Àrea do Usuário</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <div class="profile-image" (click)="editimage()">
          <img src="{{avatar}}">
        </div>
      </ion-avatar>
      <h2>{{(profileData | async)?.firstName}} {{(profileData | async)?.lastNme}}</h2>

      <p>Inglês fluente, Português nativo.</p>
      <p (click)="editname()">{{displayName}}</p>

    </ion-item>



    <ion-card-content class="card-background-page">

      <p color="grey">INTERESSES</p>
      <ion-item *ngFor="let item of allmytags">

        <button ion-button class="button">{{item.tagName}}</button>
      </ion-item>
      <ion-icon name="add-circle" class="iconeadd" (click)="addTag()"></ion-icon>

      <p>GRUPOS</p>
      <ion-item *ngFor="let item of allmygroups">

        <button ion-button class="button" (click)="openchat(item)">{{item.groupName}}</button>
      </ion-item>
      <ion-icon name="add-circle" class="iconeadd" (click)="addgroup()" ></ion-icon>
      <div>
        <button ion-button round outline color="danger" (click)="logout()">Logout</button>
      </div>
    </ion-card-content>


  </ion-card>

</ion-content>