page-area-do-usuario {
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    background-color: pink;
  }

  .card-img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    display: inline-block;
  }

  .button {
    border-radius: 8px;
    background-color: lightpink;
    font-size: 12px;
  }


  .iconeadd {
    font-size: 25px;
    color: #BA55D3;
  }
}
}
